.coco-cta-container {
    display: flex;
    gap: 10px;
    padding: 5px 20px;
}

.coco__cta-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.coco__cta-image img{
    width: 80%;
    height: 80%;


}

.coco-para {
    width: 50%;
    font-size: 16px;
    line-height: 23px;
    /* font-weight: 400; */
    letter-spacing: 0.5px;
}

.coco-para > p > ul > li {
    list-style: none;
    padding-left: 20px;
}
.coco-para > p   {
    text-align: justify;
}
.coco-para > p > ul  {
    margin: 10px 10px;
}
.coco__cta h1{
    margin-left: 10rem;
    font-size: 30px;
    text-align: center;
}
.coco__cta-para p {
    margin-left: 50%; 
}